#projetos {
  background: #272f44f8;
}

.grade-projetos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.img-projeto {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 0.8rem;
  border-radius: 10px;
}

.card-projeto {
  height: auto;
  padding: 0 0 1rem;
  text-align: center;
  background: #4d7cfe1e;
  border-radius: 10px;
  box-shadow: 1px 2px 5px var(--cor-principal);
  overflow: hidden;
}

.info-projeto {
  padding: 0 1rem;
}

.info-projeto h3 {
  font-size: 20px;
  margin-bottom: 0.9rem;
}

.info-projeto p {
  font-size: 15px;
  color: var(--cor-secundaria-textos);
  margin-bottom: 15px;
}

.link-projeto {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.info-projeto a {
  display: inline-block;
  padding: 8px 20px;

  color: var(--cor-textos);
  background-color: #4d7cfe33;

  box-shadow: 2px 2px 1px var(--cor-principal);
  border-radius: 4px;
}
